<div fxLayout="column" class="bottom-sheet-style">
  <div fxLayout fxLayoutAlign="center">
    <h1>Create new Category</h1>
  </div>
  <div fxLayout fxLayoutAlign="center">
    <div fxLayout="column">
      <form (ngSubmit)="onSubmit()" #f="ngForm">
        <mat-form-field fxLayout fxLayoutAlign="center">
          <input matInput placeholder="Category Name" name="category" ngModel required #categoryName="ngModel">
          <mat-error *ngIf="categoryName.hasError('required')">The Category name is required</mat-error>
        </mat-form-field>
        <div fxLayout fxLayoutAlign="space-around" class="margin-style">
          <button mat-raised-button color="accent" type="submit" [disabled]="!f.valid">Save</button>
          <button mat-raised-button color="accent" type="button" (click)="onCancel()">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>
